#input_name {
width : 50%;
}
body {
text-align : center;
}
#player_log_in {
width :50%;
height : 40%;
text-align: center;
border-width : 100px;
border-color : black;
border-radius : 25px;
background-color: yellow;
margin-right : 2px;
}
#login_button {
width : 50%;
border-radius : 25px;
border-color: darkblue;
border-width : 5px;
font-size : 15px;
}
#divider {
width : 50%;
}